.top-header{
    display:flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 100vw;
}
.login{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    text-align: center;
}
.login-button{
    height: 25px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid rgb(165, 106, 39);
    border-radius: 5px;
    color: rgb(165, 106, 39);
    background-color:rgb(255, 255, 255);
}

.img{
    margin-left: 150px;
    width: 15vw;  
    height: 100%;
}
#logo{
    height: 100%;
    width: 100%;
    object-fit:contain;
}